{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Casto Landing Page</title>
        <meta name="description" content="Casto is a online image casting app" />
        <link href="{% static "user/style/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "user/style/ionicons.css" %}" rel="stylesheet">
        <link href="{% static "user/style/theme.css" %}" rel="stylesheet">
        <link href="{% static "user/style/template.css" %}" rel="stylesheet">
	    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <link href="{% static "user/style/tempusdominus-bootstrap-4.css" %}" rel="stylesheet">
    </head>
    
    <body>   
        <section id="container" class="container pb-0 mb-0">
            <div class="d-flex my-4">
                <div class="row jumbotron w-100 py-5 mx-auto" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                    <div class = "col-lg-7">
                            <h1>上传图片</h1>
                            <p class = "lead"></p>
                            <p class="lead">
                                上传图片进行头像截取 + 表情标注，可选择性别转换滤镜。
                            </p>
                            <form class="col-lg-8 form" role="form" autocomplete="off" id="formUpload" novalidate="">
                                <label class="col-form-label form-control-label text-muted" id = "file_desc">未选择任何文件</label>   
                                <div class = "form-group row">                        
                                    <div class="input-group lg-6 mb-3">
                                        <input type="text" class="form-control form-control-lg" placeholder="" disabled = "true" id = "file_addr">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-lg rounded-right" id = "explore_btn" type="button">浏览</button>
                                            <input type = "file" style = "display:none" id = "file_input"></input>
                                        </div>
                                    </div> 
                                </div>
                            </form>

                            <form class="col-lg-8 form" role="form" autocomplete="off" id="formUpload" novalidate="">
                                <label class="col-form-label form-control-label text-muted" id = "web_desc">上传网络文件</label> 
                                <div class = "form-group row">   
                                    <div class="input-group lg-6 mb-3">                     
                                        <input type="text" class="form-control form-control-lg" placeholder="" id = "web_addr">
                                        <button class="input-group-append btn btn-primary btn-lg rounded-right" id = "upload_btn" type="button">上传图片</button>
                                    </div>                    
                                </div>         
                            </form>

                            <div class="col-md-8">
                                    <div class="progress border-primary mb-2" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                        <div class="progress-bar-striped bg-primary w-0" id = "prog" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> </div>
                                    </div>
                                    <label class="col-form-label form-control-label text-muted" id = "progtext" style = "font-family: Source Hei Light">当前进度：0%</label>
                            </div>
                    </div> 
                    <div class = "col-lg-4 pl-0 ml-0 pr-0 mr-0">
                            <h3>图像预览</h3>
                            <p class = "lead"></p>
                            <div class = "row">
                                <div class = "text-center card border-primary col-lg-5 mr-3 mb-3" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                    <img src = "{% static "user/img/Avatar.png" %}" class = "m-0 center-block img-rounded img-responsive" style = "width: 100%; height: 100%" id = "preview"/>
                                </div>
                                <div class = "text-center card border-primary mb-3 col-lg-5" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                    <img src = "{% static "user/img/Crop.png" %}" class = "m-0 center-block img-rounded img-responsive" style = "width: 100%; height: 100%" id = "crop"/>
                                </div>
                                <div class = "text-center card border-primary mr-3 col-lg-5" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                    <img src = "{% static "user/img/Emotion.png" %}" class = "m-0 center-block img-rounded img-responsive" style = "width: 100%; height: 100%" id = "emotion"/>
                                </div>
                                <div class = "text-center card border-primary col-lg-5" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                    <img src = "{% static "user/img/Gender.png" %}" class = "m-0 center-block img-rounded img-responsive" style = "width: 100%; height: 100%" id = "gender"/>
                                </div>
                            </div>                           
                            <p class = "lead-lg"></p>
                            <p class = "lead-lg" id = "status" style = "font-family: Source Hei">图像尚未上传，请先上传图片</p>
                    </div>                  
                </div>
                
            </div>
            
            <div class="row my-2 d-flex centerblock">
                <div class="row col-12 col-lg-offset-2 center-block" id = "function_block" style = "transition: width 2s ease-in-out">
                    <div class="col-lg-4 mb-4">
                        <div class="card bg-primary text-white h-100">
                            <div class="card-body d-flex flex-column align-items-start">
                                <h4 class="card-title">表情识别</h4>
                                <p class="card-text">运用MTCNN技术准确识别人脸并进行裁剪，运用Compact CNN神经网络进行表情识别。</p>
                                <button type = "button" class="btn btn-primary border-white mt-auto" id = "detect_btn">选择此服务</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card bg-primary text-white h-100">
                            <div class="card-body d-flex flex-column align-items-start">
                                <h4 class="card-title">性别转换滤镜</h4>
                                <p class="card-text">利用在著名的CelebA数据集上训练的CycleGAN网络结构实现性别的风格迁移，使用时请上传正脸清晰头像，正方形为宜。</p>
                                <div class = "row pl-3">
                                    <button type = "button" class="btn btn-primary border-white mt-auto mr-1" id = "gender_girl_btn">女性化滤镜</button>
                                    <button type = "button" class="btn btn-primary border-white mt-auto ml-1" id = "gender_boy_btn">男性化滤镜</button>
                                </div>                             
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card bg-primary text-white h-100">
                            <div class="card-body d-flex flex-column align-items-start">
                                <h4 class="card-title">我全都要</h4>
                                <p class="card-text">综合运用两种深度学习技术，既实现了人像裁剪和识别，也进行性别转换。您可以自行选择所使用的性别滤镜，使用时请上传正脸清晰头像，正方形为宜。</p>
                                <div class = "row pl-3">
                                    <button type = "button" class="btn btn-primary border-white mt-auto mr-1" id = "all_girl_btn">表情+女性化</button>
                                    <button type = "button" class="btn btn-primary border-white mt-auto ml-1" id = "all_boy_btn">表情+男性化</button>
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <section id = "data" class="container pb-1 pt-3 mt-0">
            <div class="row d-flex m-0">
                <div class="col-lg-2 mb-auto">
                    <div class="list-group">
                        <a href="../dashboard/#data" class="list-group-item list-group-item-action active" id = "allrecord">全部记录</a>
                        <a href="../dashboard/?range=yes#data" class="list-group-item list-group-item-action" id = "timequery">按时间查询</a>
                    </div>
                </div>
                <div class="col-lg-10 mb-auto">
                    {% if rangequery %}
                        <div class="container">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                <label class = "label mr-2 mt-1">开始时间</label>
                                                <input type="text" class="form-control datetimepicker-input" id = "date1" data-target="#datetimepicker1"/>
                                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                                    <label class = "label mr-2 mt-1">截止时间    </label>
                                                    <input type="text" class="form-control datetimepicker-input" id = "date2" data-target="#datetimepicker2"/>
                                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker1').datetimepicker()
                                            $('#datetimepicker2').datetimepicker()
                                        });
                                    </script>
                                    <div class="col-sm-4">
                                        <button type = "button" class="btn btn-outline-primary mt-auto" id = "query-btn">查询</button>
                                    </div>                                   
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>
                    {% endif %}
                        <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkall" checked>
                                                <label class="custom-control-label mt-1" for="checkall">全选</label>
                                                <button type = "button" class="btn btn-outline-primary btn-sm mt-auto" id = "delete-all-btn">批量删除</button>
                                        </div>
                                    </div>
                                </div>
                        </div> 
                        <p class = "h1"></p>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-sm">
                                        <tbody>
                                            <tr>
                                                <th class="w-20"></th>
                                                <th class="w-25">操作编号</th>
                                                <th class="w-50">操作日期</th>
                                                <th class="w-30"></th>
                                                <th class="w-30"></th>
                                            </tr>
                                            {% for item in list %}
                                            <div class="modal fade" id="myModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class = "float-left">查看结果</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class = "row">
                                                                <div class = "text-center card border-primary mr-3 col-lg-5" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                                                    <img src = "../{{ item.raw_for_modal }}" class = "m-0 center-block img-rounded img-responsive" style = "width: 100%; height: 100%" id = "emotion"/>
                                                                </div>
                                                                {% if item.type == '0' %}
                                                                <div class = "text-center card border-primary mr-3 col-lg-5" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                                                    <img src = "../{{ item.emotion_for_modal }}" class = "m-0 center-block img-rounded img-responsive" style = "width: 100%; height: 100%" id = "emotion"/>
                                                                </div>
                                                                {% endif %}
                                                                {% if item.type == '1' %}
                                                                <div class = "text-center card border-primary col-lg-5" style = "border: none; box-shadow: 2px 2px 3px #888888;">
                                                                    <img src = "../{{ item.gender_for_modal }}" class = "m-0 center-block img-rounded img-responsive" style = "width: 100%; height: 100%" id = "gender"/>
                                                                </div>
                                                                {% endif %}
                                                            </div>                                                           
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal -->
                                            </div>
                                            <tr>
                                                <td><div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input checkbox" id="customCheck{{ item.id }}" checked>
                                                    <label class="custom-control-label" for="customCheck{{ item.id }}"></label></div>
                                                </td>
                                                <td>
                                                    操作记录#{{ item.id }}
                                                    {% if item.type == '0' %}
                                                    <span class="badge badge-pill badge-primary">表情识别</span>
                                                    {% elif item.type == '1' %}
                                                    <span class="badge badge-pill badge-primary">性别转换</span>
                                                    {% endif %}
                                                </td> 
                                                <td>{{ item.time }}</td>
                                                <td><button type = "button" class="btn btn-dark border-white mt-auto" data-toggle="modal" data-target="#myModal{{ item.id }}" id = "see-result">查看结果</button></td>                                               
                                                <td><button type = "button" class="btn btn-danger border-white mt-auto delete-btn" id = "{{ item.id }}">删除记录</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                            </div>
                        <div class = "row col-md-12">
                            <ul class="pagination col-md-12">
                                <li class="page-item"><a class="page-link" href="../dashboard/?page={{ prev }}">上一页</a></li>
                                {% for page in npage %}
                                    {% if page == cur %}
                                        <li class="page-item active"><a class="page-link" href="../dashboard/?page={{ page }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="../dashboard/?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="page-item"><a class="page-link" href="../dashboard/?page={{ next }}">下一页</a></li>
                            </ul>
                        </div>                        
                </div>
            </div>
        </section>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
                <div class="container">
                    <a class="navbar-brand mr-1 mb-1 mt-0" href="../index/">Casto</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="../signup/">注册</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{ username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDd">
                                    <a class="dropdown-item px-2" id="dashboard_link" href="../dashboard/">管理面板</a>
                                    {% if is_admin %}
                                        <a class="dropdown-item px-2" id="dashboard_link" href="../admin/dashboard/">管理员入口</a>
                                    {% endif %}
                                    <button class="dropdown-item px-2 btn btn-link" type="button" id = "logoutBtn">登出</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <footer id="footer" class="bg-dark text-light py-5">
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-3 mb-2">
                                <h6 class="text-uppercase">作者</h6>
                                <ul class="nav flex-column">
                                    <li><a class="text-white" target="ext" rel="nofollow" href="https://agil27.github.io" title="汪元标">汪元标</a></li>
                                    <li><a class="text-white" target="ext" rel="nofollow" href="https://zhangxwww.github.io" title="张欣炜">张欣炜</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3 mb-2">
                                <h6 class="text-uppercase">开发工具</h6>
                                <ul class="nav flex-column">
                                    <li><a class="text-white" target="_new" href="https://getbootstrap.com">Bootstrap4</a></li>
                                    <li><a class="text-white" target="_new" href="https://www.djangoproject.com/">Django2.0</a></li>
                                    <li><a class="text-white" target="_new" href="https://www.sqlite.org/index.html">Sqlite3</a></li>
                                    <li><a class="text-white" target="_new" href="https://pytorch.org/">PyTorch</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 mb-2 text-right">
                                <h6 class="text-uppercase">信息</h6>
                                <ul class="nav flex-column">
                                    <li>清华大学软件学院</li>
                                    <li>2019年8月</li>
                                </ul>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                </footer>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "user/scripts/scripts.js" %}"></script>
    <script src="{% static "user/scripts/dashboard.js" %}"></script>
    <script src="{% static "user/scripts/moment-with-locales.min.js" %}"></script>
    <script src="{% static "user/scripts/moment-timezone-with-data-2012-2022.min.js" %}"></script>
    <script src="{% static "user/scripts/highlight.min.js" %}"></script>
    <script src="{% static "user/scripts/tempusdominus-bootstrap-4.js" %}"></script>
    </body>
</html>