{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Casto Landing Page</title>
        <meta name="description" content="Casto is a online image casting app" />
        <link href="{% static "user/style/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "user/style/ionicons.css" %}" rel="stylesheet">
        <link href="{% static "user/style/theme.css" %}" rel="stylesheet">
        <link href="{% static "user/style/template.css" %}" rel="stylesheet">
    </head>
    
    <body>
        <header class="bg-primary">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12">
                        <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                            <h1 class="text-center display-4">Casto</h1>
                            <p class="text-center display-5">轻量级在线图片AI转换</p>
                            <div class=>
                                <div class="col-lg-4 col-sm-6 mx-auto">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control form-control-lg" placeholder="用户名" id="username">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-light btn-lg rounded-right" type="button" id = "signupBtn">注册</button>
                                        </div>
                                    </div>
                                    <p class ="text-right display-6">已有账户？点击<a class = "display-6" href = "login.html">这里</a>登陆</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>    
        
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
                <div class="container">
                    <a class="navbar-brand mr-1 mb-1 mt-0" href="../index/">Casto</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="../login/">登陆</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../signup/">注册</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  用户
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDd">
                                    <a class="dropdown-item px-2" href="../dashboard/">管理面板</a>
                                    <button class="dropdown-item px-2 btn btn-link" type="button">登出</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <footer id="footer" class="bg-dark text-light py-5">
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-3 mb-2">
                                <h6 class="text-uppercase">作者</h6>
                                <ul class="nav flex-column">
                                    <li><a class="text-white" target="ext" rel="nofollow" href="https://agil27.github.io" title="汪元标">汪元标</a></li>
                                    <li><a class="text-white" target="ext" rel="nofollow" href="https://zhangxwww.github.io" title="张欣炜">张欣炜</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-6 col-lg-3 mb-2">
                                <h6 class="text-uppercase">开发工具</h6>
                                <ul class="nav flex-column">
                                    <li><a class="text-white" target="_new" href="https://getbootstrap.com">Bootstrap4</a></li>
                                    <li><a class="text-white" target="_new" href="https://www.djangoproject.com/">Django2.0</a></li>
                                    <li><a class="text-white" target="_new" href="https://www.sqlite.org/index.html">Sqlite3</a></li>
                                    <li><a class="text-white" target="_new" href="https://pytorch.org/">PyTorch</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 mb-2 text-right">
                                <h6 class="text-uppercase">信息</h6>
                                <ul class="nav flex-column">
                                    <li>清华大学软件学院</li>
                                    <li>2019年8月</li>
                                </ul>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                </footer>
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.13.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{% static "user/scripts/scripts.js" %}"></script>
        <script>
            $("#signupBtn").click(function() {
                window.location.replace("../signup/?name=" + $("#username").val())
            })
        </script>
    </body>
</html>